<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>robotlightsyou</title>
    {% endif %}
</head>
<body>
    <div class='container'>
        <h1>Welcome to Technical Theatre Flashcards</h1>
        <p>This app is a simple flashcard game to test your knowledge of comman terms in technical theatre. Enjoy!</p>
    </div>
    <div class='container'>
        {% for word in test %}
            <h1>{{ word.term }}: </h1><p>{{ word.def }}</p>
        {% endfor %}
    </div>
    
</body>
</html>