{% extends 'landing/base.html' %}
{% block content %}
    <div class='container'>
        <h1>Welcome to Technical Theatre Flashcards</h1>
        <p>This app is a simple flashcard game to test your knowledge of common terms in technical theatre. Enjoy!</p>
    </div>
    <div class='container'>
        <h2>Glossary</h2>
        {% for word in terms %}
            <article class="media content-section">
                <div class="media-body">
                    <h5>{{ word.deck }}</h5>
                    <h2><a class="article-title" href="#">{{ word.name }}: </a></h2>
                    <p class="article-content">{{ word.defi }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}