<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>robotlightsyou</title>
    {% endif %}
    
    <title>Flashcards Home</title>
</head>
<body>
    <div class='container'>
        <h1>Welcome to robotlightsyou</h1>
        <p>Please choose:</p>
        {% comment %} <a href="{% url "entertainment-home" %}">Entertainment</a>
        <a href="{% url "flashcards-home" %}">Flashcards</a> {% endcomment %}
    </div>
    
</body>
</html>